/* ===========================================
    HEADER
=========================================== */
.header-container {
    display: flex;
    justify-content: space-between; /* Separa título y usuario */
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    box-sizing: border-box;
    padding: 0 20px; /* Espaciado interno */
    position: fixed;  /* Fijo arriba */
    top: 0;
    left: 0;
    width: calc(100% - 140px); /* Ajusta según el ancho del sidebar */
    margin-left: 140px;         /* Para no tapar el sidebar */
    z-index: 1000;
}

.header-title {
    font-size: 35px;
}

.user-a {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-a img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

/* Evitar que el contenido quede debajo del header */
body {
    padding-top: 100px; /* Igual a la altura del header */
}


/* ===========================================
    RESPONSIVE
=========================================== */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 15px;
        width: 100%;
        margin-left: 0; /* Oculta el margen lateral en móvil */
    }

    .header-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .user-a {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .user-a img {
        width: 40px;
        height: 40px;
    }

    body {
        padding-top: 120px; /* Ajusta si el header aumenta de altura */
    }
}