/* ===========================================
    HEADER
=========================================== */
.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    box-sizing: border-box;
    padding: 0 20px; 
    position: fixed;  
    top: 0;
    left: 0;
    width: calc(100% - 180px); 
    margin-left: 180px;         
    z-index: 1000;
}

/* botón de hamburguesa  */
.menu-toggle {
    display: none; 
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    order: -1;
}

.header-title {
    font-size: 35px;
}

.user-a {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-a img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}


body {
    padding-top: 100px; 
}


/* ===========================================
    RESPONSIVE
=========================================== */
@media (max-width: 768px) {

    .header-container {
        flex-direction: row; 
        justify-content: flex-start;
        height: 60px; 
        padding: 0 15px;
        width: 100%;
        margin-left: 0; 
        position: fixed;
    }
    
    /* Mostrar botón de hamburguesa */
    .menu-toggle {
        display: block; 
        margin-right: 15px;
    }

    .header-title {
        font-size: 25px;
        margin-bottom: 0;
    }
    
    .user-a {
        margin-left: auto;
        gap: 15px;
    }
    
    .user-a img {
        width: 30px;
        height: 30px;
    }
    
    body {
        padding-top: 60px;
    }
}