
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

header{
    background-color: white;
    display: flex;
    width: calc(100% - 40px);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    z-index: 101;
}

.logo a{
    text-decoration: none;
    color: black;
}
header strong{
    font-size: 35px;
    text-shadow: 0px 1.5px 3px #5a5a5a;
}

.buscar input{
    margin: 10px;
    width: 600px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px #5a5a5a;
}

.img-logo{
    padding-left: 20px;
    padding-right: 20px;
}

.img-logo img {
    position: relative;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 3px 1.5px #5a5a5a);
}

nav{
    box-shadow: 3px 3px 3px #5a5a5a;
    width: 100%;
    background-color: white;
    height: 62px;
    position: fixed;
    z-index: 100;
}

nav ul {
    color : black;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}

nav li {
    display: inline;
    margin: 0 80px 0 3px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}

nav img{
    margin-top: 5px;
    filter: drop-shadow(0px 3px 1.5px #5a5a5a);
}

main img{
    width: 100%;
    height: 600px;
    margin-top: 54px;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;

}

.categoria{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    background-color: #ebebeb;
    box-shadow: 0px 3px 4px #a1a1a1;
}

.categoria img{
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}
.categoria h3{
    color: #afafaf;
    font-size: 18px;
    text-align: center;
}

.Productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #cdcdcd;
}

.Productos h1{
    color: black;
    text-align: center;
    width: 100%;
}

.producto{
    padding: 20px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin-bottom: 20px;
}

.producto:hover{
    cursor: pointer;
    box-shadow: 0 3px 4px #a1a1a1
}

.producto img{
    width: 280px;
    height: 200px;
}

.producto button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px #a1a1a1;
}
button:hover{
    background-color: #cdcdcd;
}

.nosotros{
    display: flex;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.texto-nosotros{
    margin: 10px;
    padding: 20px;
}
.nosotros img {
    width: 400px;
    height: 400px;
}
.texto-nosotros h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.nosotros p{
    width: 600px;
    height: 200px;
}

.contactos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    gap: 40px;
}

.contactos h2{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 45px;
}
.contacto{
    padding: 30px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    width:400px;
    height: auto;
}

.contacto form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea{
    flex-wrap: wrap;
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.map iframe{
    width: 600px;
    height: 350px;
}
.contacto button{
    background: #cdcdcd;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background: black;
    padding-bottom: 50px;
}

.galeria h2{
        color:#cdcdcd ;
        text-align: center;
}
.galeria img{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;
}


.formularios{
    text-align: center;
    border: 3px solid;
    border-image: linear-gradient(90deg, #ffffff, #a1a1a1) 1;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
}

.formularios h1{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 35px;
}
form input{
    width: 300px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
}
form a{
    text-decoration: none;
    color: #a1a1a1;
}

.boton input{
    width: 200px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
    background-color: #a1a1a1;
    color: white;
    font-size: 16px;
    text-align: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: black;
    padding: 2rem 0 0 0rem;
    color: #fff;
    justify-content: space-evenly;
    gap: 10px 10px;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.derechos-a{
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(0, 168, 168, 1);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

/* ======== ESTILOS RESPONSIVE ======== */

/* Para tablets y móviles grandes */
@media (max-width: 992px) {
    header {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 10px;
    }

    .buscar input {
        width: 80%;
        height: 40px;
    }

    .img-logo img {
        width: 60px;
        height: 60px;
    }

    nav ul {
        flex-wrap: wrap;
        font-size: 18px;
    }

    nav li {
        margin: 5px 15px;
    }

    main img {
        height: 400px;
    }

    .categoria {
        width: 150px;
        height: 150px;
    }

    .categoria img {
        width: 120px;
        height: 120px;
    }

    .nosotros img {
        width: 300px;
        height: 300px;
    }

    .contactos {
        gap: 50px;
    }

    .map iframe {
        width: 100%;
        height: 300px;
    }

    .producto img {
        width: 220px;
        height: 160px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 740px) {

    /*Cabezera Movil*/
    header {
        flex-direction: column;
        padding: 10px;
        position: static;
    }

    header strong {
        font-size: 25px;
    }

    .buscar input {
        width: 90%;
        height: 40px;
    }

    .img-logo {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;
    }

    nav {
        position: relative;
        height: auto;
        box-shadow: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        margin: 0;
    }

    nav img {
        display: none;
    }

    main img {
        height: 250px;
    }

    /*Categorias*/
    .categoria {
        width: 120px;
        margin: 10px;
        padding: 5px;
    }

    .categoria img {
        width: 90px;
        height: 90px;
    }

    .categoria h3 {
        font-size: 14px;
    }
    /*Productos*/
    .producto img {
        width: 180px;
        height: 130px;
    }

    .Productos {
        border: none;
        gap: 20px;
    }

    /*Nosotros*/
.nosotros {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .img-nosotros img {
        width: 250px;
        height: 250px;
        margin-bottom: 15px;
    }

    .texto-nosotros h2 {
        font-size: 28px;
        text-align: center;
    }

    .texto-nosotros p,
    .misionvision p {
        font-size: 15px;
        text-align: justify;
        width: 90%;
        margin: auto;
    }

    .misionvision {
        text-align: center;
        
    }

    .misionvision h3 {
        font-size: 22px;
        margin-top: 15px;
        padding-top: 30px;
    }
    /*Contactos*/
    .contactos {
        flex-direction: column;
        gap: 20px;
    }

    .contacto {
        width: 90%;
        height: auto;
    }

    input, textarea {
        width: 100%;
    }

    .map iframe {
        width: 100%;
        height: 250px;
    }

.galeria {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px 10px;
        background: #fff;
    }

    .galeria h2 {
        font-size: 28px;
        margin-bottom: 10px;
        color: black;
    }

    .galeria-item {
        max-width: 90%;
    }

    .galeria img {
        height: 180px;
        width: 300px; 
        justify-content: center;
    }

    .galeria p {
        font-size: 15px;
    }

    .formularios {
        width: 90%;
        margin-top: 60px;
    }

    form input {
        width: 90%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer img {
        width: 150px;
    }

    .derechos-a {
        font-size: 14px;
        padding: 10px 0;
    }
}

