body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

.formularios{
    text-align: center;
    border: 3px solid;
    border-image: linear-gradient(90deg, #ffffff, #a1a1a1) 1;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
}

.formularios h1{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 35px;
}
form input{
    width: 300px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
}
form a{
    text-decoration: none;
    color: #a1a1a1;
}

.boton input{
    width: 200px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
    background-color: #a1a1a1;
    color: white;
    font-size: 16px;
    text-align: center;
}