/* --- CONTENEDOR LATERAL --- */
.menu-container {
    width: 180px;
    height: 100vh;
    background: black;
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
    /* Añadir transición para el efecto de deslizamiento */
    transition: transform 0.3s ease-in-out; 
}

/* --- LOGO --- */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 8px;
}

.logo-container img {
    width: 80px;
    height: auto;
}

/* --- NAV --- */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Ítems del menú */
nav li {
    width: 100%;
}

/* Enlaces */
nav a {
    display: block;          
    padding: 15px 0;
    text-align: center;

    color: white;            
    text-decoration: none;   
    font-size: 16px;

    transition: background .2s ease;
}

/* Hover */
nav a:hover {
    background: #a1a1a1;
    color: black;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
    .menu-container {
        width: 200px;

        top: 60px; 
        height: calc(100vh - 60px); 
        transform: translateX(-100%); 
        z-index: 2000;
    }

    .menu-container.active {
        transform: translateX(0);  
    }
    
    
    .menu-overlay {
        position: fixed;
        top: 60px; 
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        background: rgba(0, 0, 0, 0.5);
        z-index: 1999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .logo-container img {
        width: 60px;
    }

    nav a {
        font-size: 14px;
        padding: 12px 0;
    }
}