body {
    max-width: 1200px;       /* Límite visual del contenido */
    width: calc(100% - 180px);
    margin-left: 180px;      /* Evita que se pegue al sidebar */
    margin-right: auto;
    padding: 0;
    font-family: system-ui;
    background: #F1F5F9;
    box-sizing: border-box;
}

.content{
    max-width: 95%;
    margin-left: 20px;
}

/* Imagen de perfil */
.img-box {
display: flex;
flex-direction: column;
align-items: center;
}


.img-box img {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
border: 3px solid #3b82f6;
margin-bottom: 10px;
}


.btn-edit-photo {
background: #3b82f6;
color: white;
border: none;
padding: 8px 12px;
border-radius: 8px;
cursor: pointer;
}


.btn-edit-photo:hover {
background: #1e40af;
}


/* ===========================
INFORMACIÓN DEL PERFIL
=========================== */
.info-box {
flex: 1;
}


.field {
margin-bottom: 15px;
}


.field label {
font-weight: bold;
display: block;
margin-bottom: 5px;
}


.field input {
width: 100%;
padding: 10px;
border-radius: 8px;
border: 1px solid #cbd5e1;
box-sizing: border-box;
}


.btn-save {
background: #10b981;
color: white;
border: none;
padding: 10px 15px;
border-radius: 8px;
cursor: pointer;
margin-top: 10px;
}

.btn-save:hover {
background: #059669;
}