body {
    max-width: 1200px;       /* Límite visual del contenido */
    padding: 0;
    font-family: system-ui;
    background: #F1F5F9;
    box-sizing: border-box;
    margin: 0 auto;
}
/* ===========================
        SECCIÓN INSERTAR DATOS
=========================== */
.insert-section {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 95%;
    margin-left: 180px;
    margin-top: 10px;
}

.insert-section h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 12px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
}

/* Botón agregar */
.btn.add {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn.add:hover {
    background: #1e40af;
}

/* ===========================
    SECCIÓN TABLA VISUALIZACIÓN
=========================== */
.table-section {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 95%;
    margin-left: 180px;
}

.table-section h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #1e293b;
    color: white;
}

thead th {
    padding: 12px;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
}

tbody tr:hover {
    background: #f1f5f9;
}

/* Acciones */
.action-btns {
    display: flex;
    gap: 10px;
}

.btn-edit {
    background: #10b981;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.btn-delete {
    background: #ef4444;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
